@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #7200a1;
    --white: #fff;

    //back ground
    --bg-primary: #7200a1;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}
